<mat-toolbar color="secondary">
  <app-heading routerLink="/">
    <mat-icon svgIcon="play_logo"></mat-icon>
    <h1>Play</h1>
  </app-heading>

  <app-nav-item routerLink="player">
    <mat-icon>play_arrow</mat-icon>
    Lecteur
  </app-nav-item>
  <app-nav-item routerLink="playtech">
    <mat-icon>playlist_add_check</mat-icon>
    Playtech
  </app-nav-item>
  <app-nav-item routerLink="browse">
    <mat-icon>search</mat-icon>
    Rechercher
  </app-nav-item>
  <app-nav-item routerLink="share">
    <mat-icon>share</mat-icon>
    Partager
  </app-nav-item>
  <app-nav-item routerLink="accounts">
    <mat-icon>person</mat-icon>
    <span>Comptes</span>
  </app-nav-item>
</mat-toolbar>