@import 'src/app/constants.scss';

:host {
  grid-area: navigation;
}

mat-toolbar{
  padding: 0;
  align-items: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: $mobile-max-width){
  mat-toolbar{
    flex-direction: row-reverse;
  }

  mat-toolbar > app-heading{
    display: none;
  }

  mat-toolbar > *{
    flex: 1;
  }
}

app-nav-item.active{
  color: #D93936;
  background-color: #EBEBEB;
}
