<mat-toolbar color="secondary" *ngIf="connected">
  <app-heading routerLink="/">
    <mat-icon svgIcon="play_logo"></mat-icon>
    <h1>Play</h1>
  </app-heading>

  <app-nav-item routerLink="playtech" [routerLinkActive]="['active']">
    <mat-icon>playlist_add_check</mat-icon>
    Playtech
  </app-nav-item>
  <app-nav-item routerLink="browse" [routerLinkActive]="['active']">
    <mat-icon>search</mat-icon>
    Search
  </app-nav-item>
  <app-nav-item routerLink="share" [routerLinkActive]="['active']">
    <mat-icon>share</mat-icon>
    Share
  </app-nav-item>
  <app-nav-item routerLink="convert" [routerLinkActive]="['active']">
    <mat-icon>import_export</mat-icon>
    Convert
  </app-nav-item>
  <app-nav-item routerLink="accounts" [routerLinkActive]="['active']">
    <mat-icon>person</mat-icon>
    <span>Account</span>
  </app-nav-item>
</mat-toolbar>