<app-browse></app-browse>

<app-view-toggle [(locker)]="locked" (mode)="onSwitchMode($event)"></app-view-toggle>

<div *ngIf="isListMode()">
    <app-listview addBtnLabel="Nouvelle playlist" [locked]="locked" (clicked)="editPlaylist($event)" (addItemEvent)="addPlaylist()" (delItemEvent)="delPlaylist($event)" 
        (moveItemEvent)="movePlaylist($event)" [items]="playlistsF" addBtnPosition="start">
    </app-listview>
</div>

<div *ngIf="isCardMode()">
    <app-cardview addBtnLabel="Nouvelle playlist" [locked]="locked" (clicked)="editPlaylist($event)" (addItemEvent)="addPlaylist()" (delItemEvent)="delPlaylist($event)" 
        (moveItemEvent)="movePlaylist($event)" [items]="playlistsF" addBtnPosition="start">
    </app-cardview>
</div>
