.vertical-align {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.vertical-align>*:not(:nth-child(1)) {
    margin-top: 5px;;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 15px 0;
}

.horizontal-align>*:not(:nth-child(1)) {
    margin-left: 5px;;
}

.space-between {
    justify-content: space-between;
}