@import 'src/app/constants.scss';

:host{
  grid-area: content;
  overflow-y: auto;
  display: flex;
  padding: 16px;
}

aside{
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
}

.pwd-form {
  flex-direction: column;
  box-sizing: border-box;
  display: inline-flex;
  place-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;

  button {
    align-self: stretch;
  }
}

@media screen and (max-width: $mobile-max-width){
  :host{
    flex-direction: column;
  }
}

i{
  font-size: 1.5em;
}

mat-form-field{
  width: 100%;
}