@import 'src/app/constants.scss';

:host{
    grid-area: content;
    display: flex;
    padding: 16px;
}

aside{
    flex: 1;
}

@media screen and (max-width: $mobile-max-width){
  :host{
      flex-direction: column;
  }
}

i{
    font-size: 1.5em;
}
