<aside>
  <h2>Play account</h2>
  <button mat-raised-button color="secondary" (click)="logout()">Logout</button>
  <button mat-raised-button color="warn" (click)="forgetAccountDialog()">Forget my account</button>

  <div>
    <div class="pwd-form">
      <h4>Change password</h4>
      <mat-form-field appearance="fill">
        <mat-label>Old password</mat-label>
        <input matInput [type]="hideOldPwd ? 'password' : 'text'" [(ngModel)]="oldPwd">
        <button mat-icon-button matSuffix (mousedown)="hideOldPwd = false" (mouseup)="hideOldPwd = true"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hideOldPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input matInput [type]="hideNewPwd ? 'password' : 'text'" [(ngModel)]="newPwd">
        <button mat-icon-button matSuffix (mousedown)="hideNewPwd = false" (mouseup)="hideNewPwd = true"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hideNewPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="secondary" (click)="changePwd()">Validate</button>
    </div>
  </div>

  <!-- TODO: resolve this error!
  <div *ngIf="currentUser !== null">
    {{currentUser.name ? currentUser.name : '' }}
    {{currentUser.email ? currentUser.email : ''}}
    {{currentUser.lang ? currentUser.lang : ''}}

  <div *ngIf="!!currentUser">
    <form>
      <mat-form-field>
        <input matInput [(value)]="currentUser.name" placeholder="Username" readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(value)]="currentUser.email" placeholder="Email address" readonly>
      </mat-form-field>
      <app-select-language [(lang)]="currentUser.lang"></app-select-language>
    </form>

    <hr>

    <app-edit-password></app-edit-password>
  </div>

  <hr>

  <div style="display: flex">
    <button mat-raised-button color="secondary" style="flex: 1" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon> Logout
    </button>
    <button mat-raised-button color="warn" style="flex: 1" (click)="forgetAccountDialog()">
      <mat-icon>clear</mat-icon> Forget my playlists
    </button>
  </div>
 -->

  Search new friends because im so alone :'( -->

  <!-- Friends to add -->
  <mat-list dense>
    <mat-list-item *ngFor="let user of pending"> {{ user.email }} </mat-list-item>
  </mat-list>

</aside>
<aside>
  <h2>Linked accounts</h2>

  <mat-card *ngFor="let account of accounts">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="icon-deezer" *ngIf="account.provider=='DEEZER'"></i>
        <i class="icon-spotify" *ngIf="account.provider=='SPOTIFY'"></i>
      </div>
      <mat-card-title>{{account.name}}</mat-card-title>
      <mat-card-subtitle>{{account.email}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <h2>Add accounts</h2>
  <app-spotify-login-button *ngIf="!isSpotifyAccountBound()"></app-spotify-login-button>
  <app-deezer-login-button *ngIf="!isDeezerAccountBound()"></app-deezer-login-button>
</aside>