@import 'src/app/constants.scss';

:host {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 64px auto 90px;
  grid-template-areas: "navigation"  "content"  "player";
  overflow-y: hidden;


  @media screen and (max-width: $mobile-max-width) {
    grid-template-rows: auto 90px 60px;
    grid-template-areas: "content"  "player"  "navigation";
  }
}
