<ng-template [ngIf]="playlist != undefined" [ngIfElse]="unknow">
    <div class="horizontal-align space-between">
        <div><mat-icon (click)="goBack()" aria-hidden="false" aria-label="back">keyboard_backspace</mat-icon></div>

        <mat-form-field *ngIf="!locked">
            <input matInput type="text" placeholder="Titre" [(ngModel)]="titleEdition" required>
            <button mat-button *ngIf="titleEdition" matSuffix mat-icon-button aria-label="Clear" (click)="titleEdition=''">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-button *ngIf="titleEdition && titleEdition != playlist.title" matSuffix mat-icon-button aria-label="Confirm" (click)="saveTitle()">
                <mat-icon>done</mat-icon>
            </button>
        </mat-form-field>

        <div></div>
        <!-- <app-view-toggle [(locker)]="locked" (mode)="onSwitchMode($event)"></app-view-toggle> -->
    </div>

    <div>
        <app-listview addBtnLabel="Nouveau titre" [locked]="locked" (addItemEvent)="addSong()" (delItemEvent)="delSong($event)" 
            (moveItemEvent)="moveSong($event)" [items]="songsF" addBtnPosition="start">
        </app-listview>
    </div>

    <!-- <div *ngIf="isListMode()">
        <app-listview addBtnLabel="Nouveau titre" [locked]="locked" (addItemEvent)="addSong()" (delItemEvent)="delSong($event)" 
            (moveItemEvent)="moveSong($event)" [items]="songsF" addBtnPosition="start">
        </app-listview>
    </div>
    <div *ngIf="isCardMode()">
        <app-cardview addBtnLabel="Nouveau titre" [locked]="locked" (addItemEvent)="addSong()" (delItemEvent)="delSong($event)" 
            (moveItemEvent)="moveSong($event)" [items]="songsF" addBtnPosition="start">
        </app-cardview>
    </div> -->
</ng-template>

<ng-template #unknow>
    <div><mat-icon (click)="goBack()" aria-hidden="false" aria-label="back">keyboard_backspace</mat-icon></div>
    <p>La playlist n'existe pas</p>
</ng-template>