:host {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    grid-area: content;

    overflow-y: auto;
    width: 100%;
    height: 100%;
}

:host>*:not(:nth-child(1)) {
    margin-top: 5px;
}

.playlist-management>*:nth-child(1) {
    margin-right: 5px;
}

.playlist-management>*:nth-child(2) {
    margin-left: 5px;
}

mat-icon {
    cursor: pointer;
}

.playlist-management,
.horizontal-align {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 15px 0;
}

.playlist-management .horizontal-align {
    align-items: center;
}

.playlist-management>* {
    order: 0;
    flex: 1 1 0;
    align-self: auto;
    width: 100%;
    transition: all 1s;
}

.horizontal-align>*:not(:nth-child(1)) {
    margin-left: 5px;
}

.space-between {
    justify-content: space-between;
}