<div class="player-container" *ngIf="isDefined && isConnected">
  <div class="player-container-left">
    <!-- About current the tracks -->
  </div>
  <div class="player-container-center">
    <!-- About the controls -->
    <div class="player-controls" aria-label="Contrôles du lecteur">
      <div class="player-controls-buttons">
        <!-- Buttons -->
        <button class="control-buttons" (click)="player.previous()">
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button class="control-buttons" (click)="player.toggleState()">
          <mat-icon *ngIf="isPlaying === 1 || isPlaying === 3">pause_circle_outline</mat-icon>
          <mat-icon *ngIf="!(isPlaying === 1 || isPlaying === 3)">play_circle_outline</mat-icon>
        </button>
        <button class="control-buttons" (click)="player.next()">
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>
      <div class="player-bar">
        <!-- Bar -->
        {{ currentTime | timerPipe }}
        <mat-slider [max]="duration" [min]="0" [value]="currentTime" (input)="onMove($event)"
          (change)="newValue($event)">
        </mat-slider>
        {{ duration | timerPipe }}
      </div>
    </div>
  </div>
  <div class="player-container-right">
    <!-- About extra controls -->
    <div class="player-extracontrols">
      <div class="volume-bar" dir="ltr">
        <button class="control-buttons" (click)="player.toggleVolume()">
          <mat-icon *ngIf="isMuted">volume_off</mat-icon>
          <mat-icon *ngIf="!isMuted">volume_up</mat-icon>
        </button>
        <mat-slider [min]="0" [max]="100" [(ngModel)]="player.volume"></mat-slider>
      </div>
    </div>
  </div>
</div>

<youtube-player style="display: none;" videoId="0" [height]="200" [width]="300" (ready)="player.ready($event)">
</youtube-player>
