@import 'src/app/constants.scss';

:host {
  grid-area: player;
  align-items: end;
  z-index: 4;
}

.player-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  padding: 0 16px;

  background-color: $player-background;
}

.player-container-left {
  width: 30%;
}


.player-container-center {
  width: 40%;
  min-width: 250px;
  max-width: 722px;
}

.player-container-right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.player-extracontrols {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.volume-bar {
  align-items: center;
  width: 136px;
  display: flex;
}

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-controls-buttons {
  display: flex;
  width: 224px;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 1%;
}

.control-buttons {
  background-color: transparent;
  border: none;
  color: $player-secondary;
  width: 32px;
  min-width: 32px;
  height: 32px;
}

.player-bar {
  color: $player-primary;
  display: inline-flex;
  width: 100%;
  align-items: center;
  font-size: 11px;
}

mat-slider {
  width: 100%;
  min-width: 0px !important;
}

::ng-deep .mat-slider-track-background,
::ng-deep .mat-slider-thumb {
  background-color: $player-secondary !important; /*replace with your color*/
}

::ng-deep .mat-slider-track-fill {
  background-color: $player-primary !important;  /*replace with your color*/
}
