@import 'src/app/constants.scss';

.player-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  padding: 0 16px;

  background-color: rgb(56, 56, 56);
  bottom: 0;
  position: fixed;
  width: 100%;

  @media screen and (max-width: $mobile-max-width){
    bottom: 55px;
  }
}

.player-container-left {
  width: 30%;

  // debug
  height: 100%;
}

.player-container-center {
  width: 40%;
  min-width: 250px;
  max-width: 722px;

  // debug
  height: 100%;
}

.player-container-right {
  width: 30%;

  // debug
  height: 100%;
}

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-controls-buttons {
  display: flex;
  width: 224px;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.control-buttons {
  background-color: transparent;
  border: none;
  color:#b3b3b3;
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-top: 10px;
}

.player-bar {
  color: red;
  display: inline-flex;
  width: 350px;
  align-items: center;
}

mat-slider {
  width: 100%;
}

::ng-deep .mat-slider-track-background,
::ng-deep .mat-slider-thumb {
  background-color: #b3b3b3 !important; /*replace with your color*/
}

::ng-deep .mat-slider-track-fill {
  background-color: red !important;  /*replace with your color*/
}
