@import 'src/app/constants.scss';

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-controls-buttons {
  display: flex;
  width: 224px;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 1%;
}

.control-buttons {
  background-color: transparent;
  border: none;
  color: $player-secondary;
}

.player-bar {
  color: $player-primary;
  display: inline-flex;
  width: 100%;
  align-items: center;
  font-size: 11px;
}

mat-slider {
  width: 100%;
  min-width: 0px !important;
}

::ng-deep .mat-slider-track-background,
::ng-deep .mat-slider-thumb {
  background-color: $player-secondary !important; /*replace with your color*/
}

::ng-deep .mat-slider-track-fill {
  background-color: $player-primary !important;  /*replace with your color*/
}
