<div *ngIf="!editing">
    <span *ngIf="!passwordExist" style="color: red">
        <mat-icon style="vertical-align: middle; margin-right: 5px">warning</mat-icon>
        Don't forget to define a password for this application!
    </span>

    <span *ngIf="passwordExist" style="color: green">
        <mat-icon style="vertical-align: middle; margin-right: 5px">check</mat-icon>
        Your have defined a play password.
    </span>

    <button mat-button color="secondary" (click)="startPasswordEdition()">
        <mat-icon>edit</mat-icon>
    </button>
</div>

<form *ngIf="editing" (submit)="changePassword()">
    <div style="display: flex">
        <mat-form-field style="flex: 1">
            <input matInput autocomplete="off" [type]="hidePassword ? 'password' : 'text'" placeholder="New password"
                name="password" [(ngModel)]="password">
            <button mat-icon-button matSuffix tabindex="-1" type="button" (mousedown)="hidePassword = false"
                (mouseup)="hidePassword = true" [attr.aria-label]="'Hide password'">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field style="flex: 1">
            <input matInput autocomplete="off" [type]="hideConfirmation ? 'password' : 'text'"
                placeholder="Password confirmation" name="confirmation" [(ngModel)]="confirmation">
            <button mat-icon-button matSuffix tabindex="-1" type="button" (mousedown)="hideConfirmation = false"
                (mouseup)="hideConfirmation = true" [attr.aria-label]="'Hide password'">
                <mat-icon>{{hideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <span>{{hint}}</span>
    <mat-progress-bar [value]="passwordStrength">
    </mat-progress-bar>

    <button mat-raised-button color="primary">
        Change password <mat-icon>check</mat-icon>
    </button>
</form>
