<form [formGroup]="shareForm" (ngSubmit)="onSubmit(shareForm.value)">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step state="one" label="Select some friends">

      <!-- List of friends -->
      <h3 *ngIf="friends.length === 0">No Friends to share.</h3>
      <mat-selection-list formControlName="firendsControl">
        <mat-list-option *ngFor="let friend of friends" [value]="friend">
          {{friend.email }}
        </mat-list-option>
      </mat-selection-list>

      <!-- Nav -->
      <mat-divider></mat-divider>
      <div style="display: flex;">
        <button mat-button color="warn" type="button" routerLink="/friendship" routerLinkActive>Add friends</button>
        <div style="flex: 1;"></div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step state="two" label="Select some playlists">

      <!-- List of Playlist to share -->
      <h3 *ngIf="playlists.length === 0">No Playlist to share.</h3>
      <mat-selection-list formControlName="playlistsControl" dense>
        <mat-list-option *ngFor="let playlist of playlists" [value]="playlist">
          <img matListAvatar src="{{ playlist.cover }}" alt="No cover." style="border-radius: 0% !important;">
          <h3 matLine> {{ playlist.title }} </h3>
          <p matLine>
            <span> {{ playlist.author }} </span>
          </p>
        </mat-list-option>
      </mat-selection-list>

      <!-- Nav -->
      <mat-divider></mat-divider>
      <div style="display: flex;">
        <div style="flex: 1;"></div>
        <button mat-button matStepperPrevious type="button">Previous</button>
        <button mat-button color="primary" [disabled]="!shareForm.valid" type="submit">Share</button>
      </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="one">
      <mat-icon>supervisor_account</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="two">
      <mat-icon>playlist_add</mat-icon>
    </ng-template>

  </mat-horizontal-stepper>
</form>
