<form [formGroup]="importForm" (ngSubmit)="onSubmit(importForm.value)">

  <mat-accordion>
    <!-- Spotify -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="step = 0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Spotify</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-progress-bar mode="query" *ngIf="init"></mat-progress-bar>
      <h3 *ngIf="spotifyPlaylists.length === 0">No Playlist to import.</h3>
      <mat-selection-list formControlName="spotifyControl">
        <mat-list-option *ngFor="let playlist of spotifyPlaylists" [value]="playlist">
          <img matListAvatar src="{{ playlist.cover }}" alt="No cover." style="border-radius: 0% !important;">
          <h3 matLine> {{ playlist.title }} </h3>
          <p matLine>
            <span> {{ playlist.author }} </span>
          </p>
        </mat-list-option>
      </mat-selection-list>

      <mat-action-row>
        <button mat-button color="primary" (click)="step = 1" type="button">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Deezer -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="step = 1" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Deezer</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-progress-bar mode="query" *ngIf="init"></mat-progress-bar>
      <h3 *ngIf="deezerPlaylists.length === 0">No Playlist to import.</h3>
      <mat-selection-list formControlName="deezerControl">
        <mat-list-option *ngFor="let playlist of deezerPlaylists" [value]="playlist">
          <img matListAvatar src="{{ playlist.cover }}" alt="No cover." style="border-radius: 0% !important;">
          <h3 matLine> {{ playlist.title }} </h3>
          <p matLine>
            <span> {{ playlist.author }} </span>
          </p>
        </mat-list-option>
      </mat-selection-list>

      <mat-action-row>
        <button mat-button color="primary" (click)="step = 0" type="button">Previous</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- A floating button! -->
  <button mat-fab *ngIf="!isEmpty" color="accent" type="submit" [disabled]="loading"
    style="position: fixed; right: 24px; bottom: 100px; z-index: 9999">
    <mat-icon *ngIf="!loading">add</mat-icon>
    <mat-progress-spinner *ngIf="loading" class="spinner-in-button" color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </button>
</form>
