@import 'src/app/constants.scss';

.nav-item{
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-item .mat-button-wrapper{
  display: flex;
  align-items: center;
}

.nav-item mat-icon{
  margin-right: 5px
}

@media screen and (max-width:768px){
  .nav-item button{
    width: 100%;
  }
  .nav-item .mat-button-wrapper{
    flex-direction: column;
    font-size: 0.7em;
    line-height: 2em;
  }
}