<div class="list-item" (click)="addItem()" *ngIf="showStartAddBtn()">
    <mat-icon class="picture" aria-hidden="false" aria-label="add-btn">add_circle_outline</mat-icon>
    <div class="description">
        <div class="main-content">{{ addBtnLabel }}</div>
    </div>
</div>

<div [@slide]>
    <div *ngIf="locked">
        <div class="list-item disable-text-selection" (click)="onClick(index)" *ngFor="let item of items; let index = index">
            <img class="picture" [src]="item.picture" [alt]="item.mainContent" *ngIf="!noPicture">
            <div class="description">
                <div class="main-content">{{ item.mainContent }}</div>
                <div class="secondary-content">{{ item.secondaryContent }}</div>
            </div>
        </div>
    </div>

    <div cdkDropList (cdkDropListDropped)="moveItem($event)" *ngIf="!locked">
        <div class="list-item disable-text-selection" (click)="onClick(index)" *ngFor="let item of items; let index = index" cdkDrag>
            <div class="dragdrop-placeholder" *cdkDragPlaceholder></div>
            <img class="picture" [src]="item.picture" [alt]="item.mainContent" *ngIf="!noPicture">
            <div class="description">
                <div class="main-content">{{ item.mainContent }}</div>
                <div class="secondary-content">{{ item.secondaryContent }}</div>
            </div>
            <div class="options">
                <mat-icon (click)="delItem(item)" aria-hidden="false" aria-label="delete the item">
                    delete_outline
                </mat-icon>
                <mat-icon aria-hidden="false" aria-label="move the item" cdkDragHandle>
                    height
                </mat-icon>
            </div>
        </div>
    </div>
</div>

<div class="list-item" (click)="addItem()" *ngIf="showEndAddBtn()">
    <mat-icon class="picture" aria-hidden="false" aria-label="add-btn">add_circle_outline</mat-icon>
    <div class="description">
        <div class="main-content">Ajouter des titres</div>
    </div>
</div>