:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    >* {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    .options {
        flex: 0 0 fit-content;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: center;

        >* {
            margin: 5px;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
        }
        >*:hover, >*:active {
            color: blue;
        }
    }
}

.list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    padding: 5px;
}

.list-item:hover {
    background-color: #eae9e9;
    cursor: pointer;
}

.list-item:active {
    transition: background-color 0.5s ease;
    background-color: #ccdbe9;
}

.picture {
    --size: 100px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: var(--size);
    width: var(--size);
    font-size: var(--size);
    object-fit: cover;
    background-color: lightgray;
}

.description {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    padding-left: 5px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.main-content,
.secondary-content {
    text-overflow: "...";
}

:host:hover.main-content,
:host:hover.secondary-content {
    text-overflow: clip;
    white-space: nowrap;
    animation: text-defilement 15s infinite linear;
}

.main-content {
    font-weight: bold;
}

.secondary-content {
    font-size: 12px;
    color: gray;
}

.dragdrop-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 100px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@keyframes text-defilement {
    0% {
        transform: translate3d(0,0,0);      /* initial position at right */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* final position at left */
    }
}