<div class="volume-bar" dir="ltr">
  <button mat-icon-button class="control-buttons" [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu">
    <mat-icon>volume_up</mat-icon>
  </button>
  <mat-menu #menu="matMenu" yPosition="above">
    <div class="item-menu">
      <button mat-icon-button class="control-buttons" (click)="$event.stopPropagation()" (click)="player.toggleVolume()">
        <mat-icon *ngIf="isMuted">volume_off</mat-icon>
        <mat-icon *ngIf="!isMuted">volume_up</mat-icon>
      </button>
      <mat-slider [min]="0" [max]="100" [(ngModel)]="player.volume" (click)="$event.stopPropagation()"></mat-slider>
    </div>
  </mat-menu>
</div>
