@import '../player.component.scss';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.control-buttons {
  border: none;
  color: $player-secondary;
  background-color: transparent;
}

::ng-deep .mat-slider-thumb,
::ng-deep .mat-slider-track-background {
  background-color: $player-secondary !important; /*replace with your color*/
}

::ng-deep .mat-slider-track-fill {
  background-color: $player-primary !important;  /*replace with your color*/
}
