<!-- Volume controls -->
<button
  mat-icon-button
  class="control-buttons"
  [matMenuTriggerFor]="menu"
  aria-label="Open the volume control.">
  <mat-icon>volume_up</mat-icon>
</button>
<mat-menu #menu="matMenu" yPosition="above">
  <div style="display: flex; min-width: 150px; padding: 0 15px;">
    <button mat-icon-button class="control-buttons" (click)="$event.stopPropagation()" (click)="player.toggleVolume()">
      <mat-icon *ngIf="muteState >= 50">volume_up</mat-icon>
      <mat-icon *ngIf="muteState <= 0">volume_off</mat-icon>
      <mat-icon *ngIf="muteState >= 0 && muteState < 50">volume_down</mat-icon>
    </button>
    <mat-slider [min]="0" [max]="100" [(ngModel)]="player.volume" (click)="$event.stopPropagation()"></mat-slider>
  </div>
</mat-menu>

<!-- Show video controls -->
<button
  mat-icon-button
  class="control-buttons"
  (click)="player.toggleShowVideo()"
  aria-label="To show the video or not.">
  <mat-icon *ngIf="showVideo">desktop_access_disabled</mat-icon>
  <mat-icon *ngIf="!showVideo">desktop_windows</mat-icon>
</button>
