<mat-form-field>
    <input matInput [matDatepicker]="stateDatePicker" [formControl]="startDate" placeholder="From...">
    <mat-datepicker-toggle matSuffix [for]="stateDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #stateDatePicker startView="multi-year">
    </mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input matInput [matDatepicker]="endDatePicker" placeholder="From...">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker startView="multi-year"></mat-datepicker>
</mat-form-field>
