@import 'src/app/constants.scss';

:host {
  grid-area: player;
  align-items: end;
  z-index: 4;
}

.player-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  padding: 0 16px;

  background-color: $player-background;
}

.player-container-center {
  flex: 1 1 auto;
  width: 70%;
  min-width: 250px;
  max-width: 722px;
}

.player-container-right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.player-extracontrols {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}
