/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon{
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    min-width: 210px;
    max-width: 210px;

    min-height: 40px;
    max-height: 40px;
    border: 0;
    line-height: 40px;

    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding-left: 48px;
    text-transform: none;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Arial,sans-serif;

    margin: 3px;
    position: relative;
    text-decoration: none;
}

.icon:hover{
    -webkit-box-shadow: 6px 7px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 25px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 25px -4px rgba(0,0,0,0.75);
}

*[class^="icon-"]{
    position: absolute;
    left: 14px;
    top: 9px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
}

.icon-play{
    background-image: url('assets/icons/play.svg');
}
.icon-spotify{
    background-image: url('/assets/icons/spotify.svg');
}
.icon-deezer{
    background-image: url('/assets/icons/deezer.svg');
}

/* custom colors */
@import '~@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core(); 

$mat-secondary: (
    50 : #e7e7e7,
    100 : #c2c2c2,
    200 : #999999,
    300 : #707070,
    400 : #525252,
    500 : #333333,
    600 : #2e2e2e,
    700 : #272727,
    800 : #202020,
    900 : #141414,
    A100 : #ef6e6e,
    A200 : #ea4040,
    A400 : #f60000,
    A700 : #dd0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// mandatory stuff for theming
$play-palette-secondary: mat-palette($mat-secondary);

// include the custom theme components into a theme object
$play-theme: mat-light-theme($mat-blue, $play-palette-secondary);

// include the custom theme object into the angular material theme
@include angular-material-theme($play-theme);
