:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    //height: 26px;
    padding: 5px;
    background-color: #f5f5f5;
}

mat-icon {
    cursor: pointer;
}
