:host {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

:host>* {
    color: white;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
}

:host>*:not(:nth-child(1)) {
    margin-top: 10px;
}

:host>*:hover {
    filter: brightness(50%);
}

.hidden {
    display: none;
}