@import '../player.component.scss';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.player-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  min-width: 220px;
  margin-top: 1%;
}

.player-bar {
  align-items: center;
  display: inline-flex;

  width: 100%;
  font-size: 11px;
  color: $player-primary;
}

.control-buttons {
  border: none;
  color: $player-secondary;
  background-color: transparent;
}

mat-slider {
  width: 100%;
}

::ng-deep .mat-slider-track-background,
::ng-deep .mat-slider-thumb {
  background-color: $player-secondary !important; /*replace with your color*/
}

::ng-deep .mat-slider-track-fill {
  background-color: $player-primary !important;  /*replace with your color*/
}
