<div class="list-item" (click)="addItem()" *ngIf="addBtnStart">
    <mat-icon class="picture" aria-hidden="false" aria-label="add-btn">add_circle_outline</mat-icon>
    <div class="description">
        <div class="main-content">Ajouter des titres</div>
    </div>
</div>

<div class="list-item" *ngFor="let item of items">
    <img class="picture" [src]="item.picture" [alt]="item.mainContent">
    <div class="description">
        <div class="main-content">{{ item.mainContent }}</div>
        <div class="secondary-content">{{ item.secondaryContent }}</div>
    </div>
</div>

<div class="list-item" (click)="addItem()" *ngIf="addBtnEnd">
    <mat-icon class="picture" aria-hidden="false" aria-label="add-btn">add_circle_outline</mat-icon>
    <div class="description">
        <div class="main-content">Ajouter des titres</div>
    </div>
</div>