@import 'src/app/constants.scss';

:host{
  grid-area: content;
  overflow-y: auto;
  display: flex;
  padding: 16px;
}

aside{
  flex: 1;
}

@media screen and (max-width: $mobile-max-width){
  :host{
    flex-direction: column;
  }
}

i{
  font-size: 1.5em;
}

.mat-row:hover {
  background-color: lightgray;
  cursor: pointer;
}
