<aside>
    <mat-card>
        <mat-card-content>
            <h2>Playlists</h2>
            <mat-list>
                <mat-list-item>
                    <mat-checkbox>Rock</mat-checkbox>        
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox>Metal</mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <br><br>  
    <button mat-raised-button color="secondary" (click)="logout()">Export</button>
</aside>
<aside>
    <mat-card>
        <mat-card-content>
            <h2>Plateforms</h2>
            <mat-list>
                <mat-list-item>
                    <mat-checkbox>Spotify</mat-checkbox>        
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox>Deezer</mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <br><br>
</aside>